[submodule "formosa-25519"]
	path = formosa-25519
	url = git@github.com:formosa-crypto/formosa-25519.git
[submodule "crypto-specs"]
	path = crypto-specs
	url = git@github.com:formosa-crypto/crypto-specs.git
[submodule "formosa-mlkem"]
	path = formosa-mlkem
	url = git@github.com:formosa-crypto/formosa-mlkem.git
[submodule "formosa-keccak"]
	path = formosa-keccak
	url = git@github.com:formosa-crypto/formosa-keccak.git
[submodule "jasmin"]
	path = jasmin
	url = git@github.com:jasmin-lang/jasmin
